.delete_role_btn {
  position: absolute;
  left: 150px;
  top: -6px;
}

.role_name {
  padding: 5px;
  background: #0d6aad;
  border-radius: 3px;
  color: #fff
}

.delete_role_form {
  margin: 16px 0;
}

.form-group {
  .delete_role_form:first-child {
    margin: 0 0 16px 0;
  }
}

.vcenter {
  display: inline-block;
  vertical-align: middle;
  float: none;
}

.admin_action_btn {
  display: inline-block;
}

 .dataTable {
  td {
    vertical-align: middle !important ;
  }
}