@import url(https://fonts.googleapis.com/css?family=Nunito);.delete_role_btn {
  position: absolute;
  left: 150px;
  top: -6px;
}

.role_name {
  padding: 5px;
  background: #0d6aad;
  border-radius: 3px;
  color: #fff;
}

.delete_role_form {
  margin: 16px 0;
}

.form-group .delete_role_form:first-child {
  margin: 0 0 16px 0;
}

.vcenter {
  display: inline-block;
  vertical-align: middle;
  float: none;
}

.admin_action_btn {
  display: inline-block;
}

.dataTable td {
  vertical-align: middle !important;
}

.sidebar-menu a:focus {
  text-decoration: none;
}

.image_container {
  width: 150px;
}

.error_group .error_input {
  border-color: #dd4b39;
}

.error_group .error_element {
  color: #dd4b39;
  padding: 5px;
}

.error_group .error_btn {
  cursor: not-allowed;
}

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

