@import url(https://fonts.googleapis.com/css?family=Nunito);.delete_role_btn {
  position: absolute;
  left: 115px;
  top: -6px;
}

.delete_role_form {
  margin: 15px 0 !important;
}

.image_container {
  width: 150px;
}

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

