@import url(https://fonts.googleapis.com/css?family=Nunito);.delete_role_btn {
  position: absolute;
  left: 115px;
  top: -6px;
}

.role_name {
  padding: 5px;
  background: #0d6aad;
  border-radius: 3px;
  color: #fff;
}

.image_container {
  width: 150px;
}

.error_group .error_input {
  border-color: #dd4b39;
}

.error_group .error_element {
  color: #dd4b39;
  padding: 5px;
}

.error_group .error_btn {
  cursor: not-allowed;
}

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

